distinguished_name = req_distinguished_name

[ req_distinguished_name ]              
countryName                     = Country Name (2 letter code)
countryName_default             = {{ country_abbreviation }}
countryName_min                 = 2
countryName_max                 = 2

stateOrProvinceName             = State or Province Name (full name)
stateOrProvinceName_default     = {{ state_name }}

localityName                    = Locality Name (eg, city)
localityName_default            = {{ city_name }}

0.organizationName              = Organization Name (eg, company)
0.organizationName_default      = {{ organization_name }}

1.organizationName              = Second Organization Name (eg, company)
1.organizationName_default      = {{ organization_unit }}

organizationalUnitName          = Project Name
organizationalUnitName_default  = {{ project_name }}

commonName                      = Common Name (eg, YOUR name)
commonName_max                  = 64

emailAddress                    = Email Address
emailAddress_max                = 40